<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="header">
    <h1>
      Отображение изображений.
    </h1>
    <div id="button-upload" class="button-upload {{ buttonShowHide }}">Загрузить еще</div>
  </div>
  <hr/>
</div>

<div class="all-images">
  <images-c
      *ngFor="let image of images"
      [image]="image"
  ></images-c>
</div>

<div class="modal-dialog {{ transitionScale }}" [ngStyle]="{'top':scrollHeight + 'px'}">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closePopup()">&times;</button>
      <img src="{{ popupImageSrc }}">
    </div>
  </div>
</div>