.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-upload {
    width: 150px;
    border-radius: 2px;
    border: 1px solid #4CAF50;
    background: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin-left: 20px;
}
.button-upload.hide {
    display: none !important;
}

.button-upload:hover {
    cursor: pointer;
    background: #fff;
    color: #4CAF50;
}
.button-upload:active {
    background: #368e39;
    color: #fff
}

/* image */
.image-one {
    margin: 0 10px 10px 0;
}

.image-one:hover {
    cursor: pointer;
    /*border: 1px solid #999;*/
}

/* popup */
.modal-dialog {
    width: 700px;
    overflow: auto;
    margin: auto;
    position: absolute;
    left: 0; bottom: 0; right: 0;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s;
    z-index: 2 !important;
    /*top: 98px;*/
}

.transition-scale {
    transform: scale(1);
    opacity: 1;
    transition: .4s;
}

.scroll-top {
    top: 1px !important;
}

.modal-content {
    position: relative;
    height: 95vh;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(125, 125, 125, 0.5);
    box-shadow: 0 3px 9px rgba(125, 125, 125, 0.5);
}

.modal-header {
    padding: 5px;
}

.modal-header .close {
    background: #4CAF50;
    border: 1px solid #2b9424;
    color: #ffffff;
    position: absolute;
    right: 20px;
}

.modal-header .close:hover {
    cursor: pointer;
    background: #999;
}

.modal-header .h4, h4 {
    font-size: 18px;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-weight: 500;
}

.modal-header img {
    height: 93vh;
    /*width: 93vw;*/
}